body {
    background-color: lightgray;
}

h1 {
    color: black;
    text-align: center;
    margin-inline: auto;
    border: 2px solid darkblue;
    padding: 0.5em;
    width: 300px;
    position: relative;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 10px 12px 0.5rem gray;
}

.friend {
    padding: 1em;
    border-radius: 30px;
    background-color: lightblue;
    border: 2px solid darkblue;
    box-shadow: 10px 12px 0.5rem gray;
}